<div class="home">
		<div class="padding">
		<p style="font-size:40px;color:white;">Cake<span class="walk">walk</span></p></br>
		<p class="usp">Hangouts + Stack Overflow + Uber style payments</p>
		</div>

<!--mailchimp-->
<div class="pads">
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  placeholder="Email Address">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Get on the Waiting List" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-large"></div>
</form>
</div>


<!--End mc_embed_signup-->


</br>
</br>
<div class="container">
	<div class="row-fluid">
		<div class="span2"><img src="assets/image1.png"></div>
		<div class="span7"><b><p style="font-size:20px">Connect with Experts Instantly</p></b></br></br>
			<p class="text-left maintext">-Solve your coding problems by instantly connecting with experts who will walk you through the solution via a Google Hangout screen share</br>
			-All experts are vetted by our team</br>
			-See reviews about your expert and their skill level on specific topics before connecting with them
			</br>
			</p>
		</div>
	</div>
</br>
</br>
</br>
	<div class="row-fluid pads">
		<div class="span10"><b><p style="font-size:20px">Earn Income as an Expert</p></b></br></br>
			<p class="text-left maintext">-Turn on a switch showing that you're available and accept Google Hangouts as they come in, at your own convenience</br>
			-Earn extra income by helping others with their coding problems</br>
			-Build a base of recurring students
			</p>
		</div>
		<div class="span2"><img src="assets/image2.png" alt="test"></div>
	</div>
</div>


<!--mailchimp-->
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  placeholder="Email Address">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Apply to be an Expert" name="subscribe" id="mc-embedded-subscribe" class="btn btn-inverse"></div>
</form>


<!--End mc_embed_signup-->
</div>

